body {
    background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/door-selector/main/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1.title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-align: center;
}
.container {

}
.idols {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 40px 20px;
}
.idol {
    width: 150px;
    height: 150px;
    margin: 4px;
    background-color: #555;
    border: 3px solid #fff;
    transform: skewX(-10deg);
    border-radius: 10px;
    box-sizing: border-box;
    transition: transform .1s, background-color .6s;
    overflow: hidden;
}
.idol:hover {
    background-color: aquamarine;
    transform: scale(1.3) skewX(-10deg);
    z-index: 1;
}
.idol .image {
    width: 125%;
    height: 125%;
    background-size: cover;
    transform: translateX(-10px) skewX(10deg);
    background-position: center;
}
.idol:nth-child(1) .image {
    background-image: url("https://file2.nocutnews.co.kr/newsroom/image/2019/11/09/20191109174456931896_0_800_522.jpg");
}
.idol:nth-child(2) .image {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqk9HYrcsOldqUrV0ZEEDS_Zw595l6P5mcaA&usqp=CAU");
}
.idol:nth-child(3) .image {
    background-image: url("https://pbs.twimg.com/media/FLnq8JaVUAcsE9C?format=jpg&name=large");
}
.idol:nth-child(4) .image {
    background-image: url("https://cdnweb01.wikitree.co.kr/webdata/editor/202112/27/img_20211227182750_bd8f046b.webp");
}
.idol:nth-child(5) .image {
    background-image: url("https://image.kmib.co.kr/online_image/2017/0205/201702051028_61180011244778_1.jpg");
}